#week-overview {
    width: 40%;
    background-color: aliceblue;
    padding: 15px;
}

.day {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    margin: 3px;
}

.day-ul {
    list-style-type: none;
    padding: 0;
}

.day-input {
    margin-top: 10px;
    padding: 5px;
}

.day-button {
    margin-left: 10px;
    background-color: #A569BD;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}