* {
  margin: 0;
  padding: 0;
}

#all-content {
  width: 100vw;
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.main-padding {
  padding: 3%;
}