* {
  margin: 0;
  padding: 0;
}

#all-content {
  width: 100vw;
  height: 100vh;
}

/* 
    Colors
*/

.button-color {
  background-color: #A569BD;
  color: white;
  border: none;
}

/* 
    Flex classes
*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

/* 
    Padding
*/

.main-padding {
  padding: 3%;
}

/* 
    Margin
*/

.margin-t-b {
  margin: 10px 0 10px 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

/* 
    All pages
*/

.content-containers {
  min-height: 300px;
}

/* 
    Input forms
*/

.input-form {
  padding: 8px;
  border-radius: 5px;
}