@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

main {
  height: 97vh;
}

#all-content {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", serif;
  background-color: #EAF1F1;
}

h1 {
  font-family: "Mea Culpa", serif;
  font-weight: 100;
  font-size: 2.5em;
}

.list-style-none {
  list-style-type: none;
}

.italic {
  font-style: italic;
}

/* 
    Widths
*/

.max-width-500 {
  max-width: 500px;
}

/* 
    Colors
*/

.button-color {
  background-color: #719191;
  color: white;
  border: none;
}

.bg-white {
  background-color: white;
}

/* 
    Flex classes
*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

/* 
    Padding
*/

.main-padding {
  padding: 3%;
}

/* 
    Margin
*/

.margin-t-b {
  margin: 10px 0 10px 0;
}

.margin-t-b-large {
  margin: 20px 0 20px 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-large {
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

/* 
    All pages
*/

.content-containers {
  min-height: 300px;
}

.white-card {
  min-width:700px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

/* 
    Input forms
*/

.input-form {
  padding: 8px;
  border-radius: 5px;
}

/* 
    Lists
*/

.notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  position: relative;
}

.note-item:hover {
  background-color: #f1f1f1;
}

.note-text {
  flex-grow: 1;
}

.delete-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: #ff5252;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.note-item:hover .delete-btn {
  display: block;
}